.combo-box {
    -fx-background-color: #ffffff; /* Light gray background */
    -fx-border-color:  #CFD8DC; /* Gray border */
    -fx-text-fill: #747d8c;
    -fx-border-radius: 3; /* Rounded corners */
    -fx-padding: 2; /* Padding around content */
    -fx-font-size: 12; /* Larger font size */
}

.combo-box .arrow-button {
    -fx-background-color: transparent; /* No background for the arrow */
    -fx-border-color: transparent; /* No border for the arrow */
    -fx-padding: 0; /* No padding for the arrow */
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #a4b0be; /* Gray color for the arrow */
}

.combo-box .list-view {
    -fx-background-color: #ffffff; /* White background for the list */
    -fx-border-color: #ccc; /* Gray border for the list */
    -fx-border-radius: 5; /* Rounded corners for the list */
    -fx-padding: 5; /* Padding around list items */
}

.combo-box .list-view .list-cell {
    -fx-background-color: #fff; /* White background for list items */
    -fx-text-fill: #333; /* Dark gray text color */
    -fx-padding: 5; /* Padding around list item text */
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #ced6e0; /* Light gray background on hover */
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #a4b0be; /* Gray background when selected */
    -fx-text-fill: #ffffff; /* White text color when selected */
}






.spinner {
    -fx-background-color: #ffffff; /* Light Gray Background */
    -fx-border-color: #CFD8DC; /* Darker Gray Border */
    -fx-border-radius: 5px;
    -fx-padding: 2px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #ffffff; /* Medium Gray Buttons */
    -fx-border-color: #ffffff; /* Slightly Darker Border */
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #ffffff; /* Darker on Hover */
}

.spinner .text-field {
    -fx-background-color: #ffffff; /* Lightest Gray */
    -fx-text-fill: black;
    -fx-alignment: center;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: #BDBDBD; /* Change arrow color */
}


.anchor-pane {
    /*-fx-background-color: lightblue;*/
    -fx-background-radius: 20; /* Rounded corners */
    -fx-border-radius: 20;
}


.body-pane {
    -fx-background-color: white; /* Set your desired background color */
    -fx-background-radius: 20;   /* Round the corners */
    -fx-border-radius: 20;
    -fx-border-color: #cccccc;    /* Optional: Add a border */
    -fx-border-width: 2;
}


.transparent-pane {
    -fx-background-color: transparent;
}


