:root{

    --scroll: 0;
}

#about-us-container {

    position: relative;
    z-index: 10; /* Higher than hero section */
    margin-top: 100vh; /* This pushes it below the viewport initially */
    /*background-color: #9747FF;*/
    background-color: transparent;
    width: 100vh;

    /*view-timeline: --section-scroll block;*/
    /*animation-timeline: --section-scroll;*/
    /*animation-name: fadeIn;*/
    /*animation-duration: 20s;*/
    /*animation-fill-mode: both;*/
    /*animation-range: entry 50% cover 50%;*/
}


@keyframes fadeIn {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 1;
        transform: translateY(-500px);
    }
}


#line-section {

    background-color: white;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Skills line */
#line {
    background-color: #EEEEEE;
    color: var(--main-color);
    /*min-width: 100%;*/
    /*white-space: nowrap;*/
    width: 200vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 1em;
    /*position: absolute;*/
    top: 100vh;
    z-index: 1;
    overflow: hidden;
    animation-name: round;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

#line > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2em;
}

#line > div > p {
    font-size: 1rem;
    font-weight: 500;
}

@keyframes round {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}









/* About section */
#about-section {

    width: 100vw;
    height: 100vh;
    position: relative;
    /*background-color: #25202F;*/
    background-color: #FFFFFF;
    transition: background-color 1s ease;
    /*color: #25202F;*/
}

#about-section.dark-bg {
    background-color: #25202F;
    /*color: #FFFFFF;*/
}


.dark-text{

    color: rgba(37, 32, 47, 0.77);
}

.light-text{

    color: #FFFFFF;
}


@keyframes down {
    from {
        background-color: #FFFFFF;
    }
    to {
        background-color: #25202F;
    }
}


.section-headers{

    width: 100%;
    height: 20vh;
    /*background-color: #9747FF;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 8em;
    padding-right: 1em;
}


.titles{

    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    gap: 1em;
    margin-top: 2em;

}


.titles>div{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
}


.titles>div>h5{

    font-size: 14px;
    font-weight: 500;
}

.titles>h2{

    font-size: 1.7rem;
    font-weight: 700;

}


#about-me-section-content{

    width: 82%;
    /*height: 500px;*/
    /*background-color: crimson;*/
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2.2fr;
    align-items: center;
    justify-content: center;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/

}


#my-image-box{

    position: relative;
    padding-left: 1em;
    padding-bottom: 1em;
    /*background-color: #D3E97A;*/
}


#my-image-box>img{

    width: 80%;
    min-width: 320px;
}


#description-box{

    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.3em;
    padding-bottom: 2em;
}


#about-paragraph{

    font-family: "Red Hat Display", sans-serif;
    color: rgba(255, 255, 255, 0.77);
    font-size: 1rem;
    line-height: 1.8;
}


#about-me-section-learn-more-link{

    color: #D3E97A;
    font-weight: 600;
    text-decoration: none;

}


/* Link Animation */
#about-me-section-learn-more-link {
    color: #D3E97A;
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    text-decoration: none;
}

#about-me-section-learn-more-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D3E97A;
    transition: width 0.3s ease;
}


#about-me-section-learn-more-link:hover::after {
    width: 100%;
}

/* Scroll Animation */
.scroll-animation {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.scroll-animation.visible {
    opacity: 1;
    transform: translateY(0);
}



@media all and (max-width: 1052px) {

    #my-image-box>img{

        position: relative;
        padding-left: 0;
        padding-bottom: 0;
        /*background-color: #D3E97A;*/
        /*width: 100%;*/
        width: 340px;
    }


    #about-section {

        width: 100vw;
        height: 140vh;
        position: relative;
        /*background-color: #25202F;*/
        background-color: #FFFFFF;
        transition: background-color 1s ease;
        /*color: #25202F;*/
    }

    #about-me-section-content{

        width: 83%;
        /*height: 500px;*/
        /*background-color: crimson;*/
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;

    }

    .section-headers{

        width: 100%;
        height: 20vh;
        /*background-color: #9747FF;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 6.5em;
        padding-right: 1em;
    }


    .titles{

        /*background-color: lightcoral;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 200px;
        gap: 1em;
        margin-top: 2em;

    }


    .titles>div{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
    }


    .titles>div>h5{

        font-size: 14px;
        font-weight: 500;
    }

    .titles>h2{

        font-size: 1.7rem;
        font-weight: 700;

    }

}



@media all and (max-width: 900px) {

        #about-section {

            width: 100vw;
            height: 140vh;
            position: relative;
            /*background-color: #25202F;*/
            background-color: #FFFFFF;
            transition: background-color 1s ease;
            /*color: #25202F;*/
        }

        #about-me-section-content{

            width: 90%;
            /*height: 800px;*/
            /*background-color: crimson;*/
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            place-items: center;

        }

    .section-headers{

        width: 100%;
        height: 20vh;
        /*background-color: #9747FF;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 3em;
        padding-right: 1em;
    }

}



/*@media all and (max-width: 660px) {*/

/*    #about-section {*/

/*        width: 100vw;*/
/*        height: 160vh;*/
/*        position: relative;*/
/*        !*background-color: #25202F;*!*/
/*        background-color: #FFFFFF;*/
/*        transition: background-color 1s ease;*/
/*        !*color: #25202F;*!*/
/*    }*/

/*    #about-me-section-content{*/

/*        width: 90%;*/
/*        !*height: 800px;*!*/
/*        !*background-color: crimson;*!*/
/*        position: absolute;*/
/*        top: 58%;*/
/*        left: 50%;*/
/*        transform: translate(-50%, -50%);*/
/*        margin: auto;*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-rows: 40% 60%;*/
/*        place-items: center;*/
/*        gap: 1em;*/

/*    }*/

/*    .section-headers{*/

/*        width: 100%;*/
/*        height: 20vh;*/
/*        !*background-color: #9747FF;*!*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-between;*/
/*        align-items: flex-start;*/
/*        padding-left: 2.5em;*/
/*        padding-right: 1em;*/
/*    }*/

/*}*/


@media all and (max-width: 660px) {

    #about-section {

        width: 100vw;
        height: 160vh;
        position: relative;
        /*background-color: #25202F;*/
        background-color: #FFFFFF;
        transition: background-color 1s ease;
        /*color: #25202F;*/
    }

    #about-me-section-content{

        width: 90%;
        /*height: 800px;*/
        /*background-color: crimson;*/
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        place-items: center;
        gap: 1em;

    }

    .section-headers{

        width: 100%;
        height: 20vh;
        /*background-color: #9747FF;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 2.5em;
        padding-right: 1em;
    }

}






@media all and (max-width: 425px) {

    #my-image-box>img{

        position: relative;
        padding-left: 0;
        padding-bottom: 0;
        /*background-color: #D3E97A;*/
        /*width: 100%;*/
        width: 90%;
    }


    #about-section {

        width: 100vw;
        height: 180vh;
        position: relative;
        /*background-color: #25202F;*/
        background-color: #FFFFFF;
        transition: background-color 1s ease;
        /*color: #25202F;*/
    }

    #about-me-section-content{

        width: 100%;
        /*height: 500px;*/
        /*background-color: crimson;*/
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        place-items: center;
        /*gap: 1em;*/

    }

    .section-headers{

        width: 100%;
        height: 20vh;
        /*background-color: #9747FF;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 1.2em;
        padding-right: 0;
    }


    .titles{

        /*background-color: lightcoral;*/
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 240px;
        gap: 1em;
        margin-top: 2em;

    }


    .titles>div{

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2px;
    }


    .titles>div>h5{

        font-size: 13px;
        font-weight: 500;
    }

    .titles>h2{

        font-size: 1.5rem;
        font-weight: 700;

    }

    #about-us-section-menu{

        width: 90px;
        /*margin-right: -1em;*/
    }

    #description-box{

        padding: 1.5em;
    }

}




























#hey{

    width: 100vw;
    height: 100vh;
    background-color: #7438c0;
    z-index: 15;
    position: relative;
}

