section{

    width: 75%;
    height: 80px;
    margin: 0 auto;
    transform: translateY(200px);
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

section>div{

    width: 20%;
    height: 80px;
    border: 2px solid black;
}

#btn-box{

    width: 75%;
    height: fit-content;
    /*background-color: lightblue;*/
    margin: 0 auto;
    transform: translateY(250px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{

    width: 70px;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: none;
    margin-right: 1em;
    border-radius: 10px;
}

#btn-box>button:first-child{

    background-color: green;
}

#btn-box>button:nth-child(2){

    background-color: red;
}

.hidden-box{

    display: none;
}



