*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{

    width: 70%;
    height: 500px;
    margin: 0 auto;
    /*background-color: lightcoral;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}


.color-box{

    width: 110px;
    height: 50px;
    border-radius: 4px;
}


#first-line{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
}


#second-line{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}


#third-line{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}